/* main styling for Bears App | Another portfolio app from Ryan Hunter of RyanHunter.ca | GitHub handle : SystemsVanguard */
:root {
    --primary-blue: #0d6efd;
    /* Bootstrap primary blue */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-primary {
    color: var(--primary-blue) !important;
}

.btn-primary {
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}

.bg-primary {
    background-color: var(--primary-blue) !important;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.25rem;
}

.synopsis-content p {
    margin-bottom: 1rem; }
    